@import 'tailwind';

.divider {
  border-top: solid 1px var(--color-bg-emphasis);
}

.color-fg-muted {
  color: var(--color-fg-muted);
}

.divider {
  border-top: solid 1px var(--color-bg-emphasis);
}
