<div class="search-container flex flex-col gap-4 min-h-full py-4">
  <div>
    <label for="search" class="sr-only">Search field</label>
    <input
      data-test="searchInput"
      [value]="searchValue$ | async"
      #search
      (keyup.enter)="updateSearchValue(search.value)"
      id="search"
      placeholder="Type your search here"
      class="form-field-input"
    />
  </div>

  <div class="flex justify-between">
    <span>
      {{ count$ | async }} {{ selectedFilter$ | async | titlecase }}
    </span>
  </div>

  <div
    [appLoading]="loading$ | async"
    class="flex-grow flex-shrink-0"
    data-test="resultContent"
  >
    <ng-container *ngIf="searchValue$ | async; else noSearchValue">
      <div *ngIf="items$ | async as items">
        <app-details
          *ngFor="let item of items; trackBy: trackById"
          [item]="item"
        ></app-details>
        <ng-container *ngIf="!items?.length">
          No results return for the given search term.
        </ng-container>
      </div>
    </ng-container>

    <ng-template #noSearchValue>
      Enter a search value to see results.
    </ng-template>
  </div>
  <app-page-selector
    [pageIndex]="pageIndex$ | async"
    [numberOfPages]="numberOfPages$ | async"
    (pageSelected)="pageSelected($event)"
  >
  </app-page-selector>
</div>
