<div class="p-2">
  <label for="search" class="sr-only">Search field</label>
  <input
    [value]="searchValue$ | async"
    #search
    (keyup.enter)="updateSearchValue(search.value)"
    id="search"
    placeholder="Type your search here"
    class="form-field-input"
  />
</div>

<ng-container *ngIf="searchValue$ | async; else noSearchValue">
  <div *ngIf="results$ | async as results; else noSearchResults">
    {{ results | json }}
  </div>
  <ng-template #noSearchResults>
    No results return for the given search term.
  </ng-template>
</ng-container>

<ng-template #noSearchValue> Enter a search value to see results. </ng-template>
